<div>
  <h1>Welcome to Glimmer!</h1>
  <NewTimeRecord @setDetails={{action setDetails}}></NewTimeRecord>
  <p>---------------------------------------------</p>
  {{#each timeLogRecords key="@index" as |timeLogRecord|}}
    <TimeLogRecordComponent @timeLogRecord={{timeLogRecord}}></TimeLogRecordComponent>
  {{/each}}
</div>

