<div>
  <h1>Welcome to Glimmer!</h1>
  <NewTimeRecord @setDetails={{setDetails}}></NewTimeRecord>
  <p>---------------------------------------------</p>
  <TimeLogRecordComponent></TimeLogRecordComponent>

</div>

